.bubbles{
    display: flex;
    position: relative;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #4fc3dc;
    margin: 0 4px;
    border-radius: 50px;
    box-shadow: 0 0 0 5px #4fc3dc44 ;
    animation: animate 15s linear infinite;
    animation-duration: calc(110s / var(--i)) ;
}
.bubbles span:nth-child(even)
{
    background-color: #b50477;
    box-shadow: 0 0 0 10px #ff2d7544;
}
@keyframes animate{
    0%{
        transform: translateY(80vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}